#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#img-container{
    position: fixed;
	width: 10px;
	height: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}